.weather {
  border: 1px solid #18c95e;
  border-radius: 4px;
  color: #878787;
  font-family: sans-serif;
  padding: 16px;
}

.weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 20px 0 0 0;
}

.weather ul {
  margin: 0;
  padding: 0;
}

.weather li {
  list-style: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.weather img {
  height: 100px;
  width: 100px;
  margin-right: 5px;
}

.weather .temperature {
  font-size: 64px;
  font-weight: 400;
  color: rgb(33, 33, 33);
  line-height: 64px;
}

.weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  position: relative;
  top: -34px;
  left: -15px;
}
